<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="student.op.mehelp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/mehelp_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/mehelp_launcher"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignupActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".AboutMeActivity" />
        <activity android:name=".AddContactActivity" />
        <activity
            android:name=".DeleteResultActivity"
            android:label="@string/title_activity_delete_result"
            android:theme="@style/AppTheme" />
        <activity android:name=".SignupConfirmationActivity" />
        <activity android:name=".SaveSuccessActivity" />
        <activity android:name=".SaveCancelActivity" />
        <activity android:name=".HowToUseActivity"></activity>
    </application>

</manifest>